.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  background-color: var(--mui-palette-background-paper);
  border-radius: 16px;
}

.navButton {
  flex-shrink: 0;
}

.daysContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 4px;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .container {
    padding: 12px 8px;
    gap: 4px;
  }

  .navButton {
    padding: 4px !important;
  }

  .daysContainer {
    gap: 2px;
  }
}