.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.app > div {
    margin-right: 50px;
}

.todo {
    max-width: 300px;
    background-color: rgba(79, 187, 255, 0.58);
    border-radius: 10px;
    border: 2px solid grey;
    padding: 10px;
}

.task {
    font-weight: bold;
}

.taskDone {
    text-decoration: line-through;
    opacity: 0.5;
}

.btnFilterActive {
    background-color: #00b84a;
    border-radius: 5px;
    color: white;
}

.inputError {
    border: 2px solid red;
    outline: none;
}