:root {
  font-family: var(--font-family-base);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--font-size-h1, 3.2em);
  line-height: var(--line-height-tight, 1.1);
}
